# Fundamentos de Estatistica Basica

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statistics

### Medidas de posição

 - Media aritmética simples: soma dos elementos do conjunto de dados divido pelo numero total de elementos no conjunto de dados
 - Media aritmética ponderad:atribui pesos para cada elemento e a media sera a soma dos elementos vezes seus pesos dividido pela soma dos pesos

In [7]:
#media aritmetica

notas = [718.91, 521.33 , 627.9, 610.12 , 930.0]
pesos = [5,2,2,4,5]

np.average(notas,weights=pesos)

721.305

 - Mediana: divide o conjunto de dados(ordenado)em duas partes, é o valor central

In [11]:
a= [10,13,11,10,87]
b= [23,31,17,18]

print('medianas')
print(np.median(a))
print(np.median(b))
print('medias')
print(np.mean(a))
print(np.mean(b))

medianas
11.0
20.5
medias
26.2
22.25

In [14]:
#Moda

a= [11,2,2,9,7]
b= [4,4,19]
c= [3,3,1,9,9]

print(statistics.mode(a))
print(statistics.mode(b))
print(statistics.mode(c))
print(statistics.multimode(c))

2
4
3
[3, 9]

### Medidas de dispersão e associação
 - Variancia e desvio padrão

In [18]:
B= [5,8,10,12,15]
print('Dados: ',B)
print('Variancia:',np.var(B))

Dados:  [5, 8, 10, 12, 15]
Variancia: 11.6

In [21]:
#Implementação com pandas
dados = {'A':[1,22,1,90],
         'B':[40,45,47,49],
         'C':[15,22,33,4]
         }

df = pd.DataFrame(dados)

df

    A   B   C
0   1  40  15
1  22  45  22
2   1  47  33
3  90  49   4

In [25]:
print('Valor maximo: ')
print(df.max())# dentro do max pode ser colocado o parametro axis pra definir a coluna que quer o valor maximo

Valor maximo:
A    90
B    49
C    33
dtype: int64

In [26]:
df.sum()

A    114
B    181
C     74
dtype: int64

In [27]:
df.mean()

A    28.50
B    45.25
C    18.50
dtype: float64

In [28]:
df.var()

A    1779.000000
B      14.916667
C     148.333333
dtype: float64

In [29]:
df.std()

A    42.178193
B     3.862210
C    12.179217
dtype: float64

In [32]:
df.describe().T #.T transposta da matrix de descrição

   count   mean        std   min    25%   50%    75%   max
A    4.0  28.50  42.178193   1.0   1.00  11.5  39.00  90.0
B    4.0  45.25   3.862210  40.0  43.75  46.0  47.50  49.0
C    4.0  18.50  12.179217   4.0  12.25  18.5  24.75  33.0